*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:rgb(245, 235, 235);
}
.container{
    width:100%;
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
    padding:2rem;

    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}
.contact-form {
    background-color: #1abc9c;
    position: relative;
  }
.form{
    width:100%;
    max-width: 820px;
    height: 500px;
    background-color: rgb(209, 243, 243);
    border-radius: 18px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index:1000;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #575655;
    font-weight: 550;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }


.input-container {
    position: relative;
    margin: 1rem 0;
  }

  .info{
    padding: 1rem 0 0 0;
   }

  .information {
    display: flex;
    color: #4c4a4a;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.08rem;
  }

  .social-media {
    padding: 2rem 0 0 0;
    font-size:1.19rem;
    
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  .social-icons a:hover {
    transform: scale(1.05);
  }

  .btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
  }
  .btn:hover {
    background-color: transparent;
    color: #f6eeee;
  }

  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
  }
  


  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }

  .contact-info .title {
    color: #1abc9c;
  }

  img{
width:25px;
height: 25px;
margin-left: 1px;
  }

  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    } 
    form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}